
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.row{
	width:100%;
}
section{
    position: relative;
    width: 100%;
    padding: 15px;

}
.head{
	text-align: center;
	color: #556B2F	;
	font-style: italic; 
	margin: 10px;
}
div {
	background-color:#ADD8E6; 
    width: 100%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    font-family: Helvetica; 
    position: relative;
    border: 1px solid black;
	
}
#text{
	padding: 10px;
	border: none;
	height: 250px;
	overflow: auto;
}
p{

	position: relative; 
	clear: right;
	margin-bottom: 1px;

}

#chicken{
	background-color: #66CDAA;
	float:right;
	font-style: bold;
	font-size: 120%;
	border: 1px solid black;
	width: 100px;
	text-align: center;

}
#beef{
	background-color:#DAA520;
	float:right;
	font-style: bold;
	font-size: 120%;
	border: 1px solid black;
	width: 100px;
	text-align: center;
}

#Sushi{
	background-color: #D2691E;
	float:right;
	font-style: bold;
	font-size: 120%;
	border: 1px solid black;
	width: 100px;
	text-align: center;
}
       /*Desktop view*/

@media(min-width: 992px){
        .col-lg-4{
          float: left;
          width: 33.33%;
        }
      }

      /*TAB view*/

@media(min-width: 768px) and (max-width: 991px){
        
        .col-md-6 {
          width: 50%;
          float: left;
        }
        .col-md-12{
          width: 100%;
          float: left;
        }
      }

       /*Mobile view*/
@media(max-width: 767px){
        .col-sm-12{
          float: left;
          width: 100%;
        }
      }
